@import '../import';

.contentBlock
{
    &._hidden { height: 0; overflow: hidden; margin: 0; }

    margin-top: $gapStruct * 2;

    &:last-of-type
    {
        margin-bottom: $gapStruct * 2;
    }
}