@import '../import';

.backButton
{
    @include flexCC;

    margin-top: 40px;

    .inner
    {
        color: $c_TextMuted;
        text-decoration: none;

        i
        {
            margin-right: $gapSmall;
            transition: color $animSpeed, transform $animSpeed;
        }

        &:hover 
        {
            i
            {
                transform: translateX(-2px);
                color: $c_Text;
            }
        }
    }
}

.backButton + .pageTitle
{
    margin-top: 5px;
}

.tasksGroup
{
    margin-top: $gapStruct;

    .groupSepTop
    {
        margin-bottom: $gap;
    }

    .groupTask
    {
        padding: 0 $gap;
    }

    .tasks
    {
        .contentBlock.task:first-of-type { margin-top: $gap; }
    }

    @include layout(stretch)
    {
        .groupTask
        {
            margin-left: $gap;
            margin-right: $gap;
        }
    }
}

.contentBlock.task
{
    margin-top: $gapStruct;

    .head
    {
        justify-content: space-between;

        .taskNum 
        {
            width: 100px;
            text-decoration: none;
        }
        
        .goto
        {
            width: 50px;

            text-decoration: none;
            color: $c_TextMuted;

            transition: color $animSpeed;

            &:hover { color: $c_Text; }

            i { margin-right: 0; }
        }

        @include layout(mini)
        {
            .taskNum { margin-left: $gap; }
            .goto { margin-right: $gap; }
        }
    }

    .body
    {
        border-top-right-radius: 0;
    }
}