.bookRefs
{
    &.type
    {
        &--task, &--protoTask
        {
            margin-top: $gapStruct;
        }
    }

    @include cbBorderColor(mix($c_Border, $c_BrandDark, 75%));

    &.single:hover
    {
        @include cbBorderColor(mix($c_Border, $c_BrandDark, 35%));
        cursor: pointer;
    }

    .body
    {
        transition: border-color $animSpeed;
        background-color: #F5FAFF;

        .content
        {
            > * { margin: 0; }

            display: flex;

            i
            {
                color: mix($c_Border, $c_BrandDark, 45%);
                font-size: 35px;
                margin-right: $gap;
            }

            .inner
            {
                position: relative;
                top: -2px;

                p
                {
                    margin-bottom: $gapSmall;
                }

                ul
                {
                    li::marker
                    {
                        color: $c_BrandDark;
                    }
                }
            }

            @include layout('mini')
            {
                flex-direction: column;
                align-items: center;

                i
                {
                    font-size: 40px;
                    margin-right: 0;
                    margin-bottom: $gap;
                }
            }
        }
    }
}