.content
{
    //
    // Spoiler
    //

    .spoiler
    {
        border: 1px solid lighten($c_Brand, 25%);
        border-radius: $borderRadius;

        .head
        {
            display: flex;
            align-items: center;

            cursor: pointer;

            margin: 3px;
            background: mix(white, $c_Brand, 93%);
            border-radius: $borderRadius;

            padding: $gapSmall;
            padding-right: 0;

            .title
            {
                flex: 1;
                font-size: 95%;

                .katex-display
                {
                    margin: -$gap/2.2 0;
                }
            }

            .toggleButton
            {
                width: 30px;
                padding-right: 5px;
                @include flexCC;

                color: $c_TextMuted;
                transition: color $animSpeed;

                i::before { content: "\f06e"; }
            }

            &:hover .toggleButton { color: $c_Text; }
        }

        &._showing .head .toggleButton i::before { content: "\f070"; }

        &:not(._showing) .contentHolder { overflow: hidden; height: 0; }

        .content
        {
            font-size: 95%;
        }
    }

    //
    // Task/Proto link
    //

    .taskLink, .protoLink
    {
        margin: 0 3px;

        white-space: nowrap;
        color: $c_BrandDark;

        i
        {
            font-size: 90%;
            margin-right: 2px;
        }
    }

    .protoLink i { margin-right: 5px; }
}