.darkMagicContainer
{
    overflow: hidden;
    margin-top: $gapStruct;

    .noDarkMagic:not(._showing) { display: none; }

    .noDarkMagic .body
    {
        display: flex;
        align-items: center;

        padding: $gap;

        border-color: #B90000;
        background-color: #FFEAEA;

        i
        {
            color: #600;
            font-size: 60px;
            margin-right: $gap;
        }

        .message
        {
            font-size: 80%;

            strong
            {
                color: #600;
                display: block;
                margin-bottom: 3px;
            }
        }

        @include layout(mini)
        {
            flex-direction: column;
            text-align: justify;

            i
            {
                margin: 0;
                margin-bottom: $gap;
            }

            .message { font-size: .9em; }
        }
    }
}