*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection
{
    background-color: #acd6e4;
}

html { height: 100%; }
html, body { width: 100%; min-height: 100%; }

body
{
    position: relative;
    display: flex;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 97%;
    color: $c_Text;

    background-color: $c_Bg;

    @include layout(mini)
    {
        font-size: 90%;
    }
}

//
// Lists
//

ul, ol
{
    list-style-position: inside;
}

//
// Links
//

a
{
    color: inherit;
    
    &.niceUnderline
    {
        text-decoration-color: transparent;
        transition: text-decoration-color $animSpeed;

        &:hover
        {
            text-decoration-color: inherit;
        }
    }
}

//
// Background
//

.bgContainer
{
    position: absolute;
    z-index: 0;

    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    background-size: 750px;
    background-image: url("/site/graphics/formulasBg.svg");
    
    opacity: 0.1;

    @include layout(stretch)
    {
        opacity: 0.05;
    }
    
    .bgSlider
    {
        width: 100%;
        height: 100%;

        background-size: 750px;
        background-position: 750px 0;
        background-image: url("/site/graphics/fog.png");

        animation: bgMovement 10s linear infinite;

        @include layout(stretch)
        {
            display: none;
        }
    }
}

@keyframes bgMovement
{
    from    { background-position: 0 0; }
}

//
// Content area
//

.contentArea
{
    width: 600px;
    margin: 0 auto;

    @include layout(stretch)
    {
        width: 100%;
        margin: 0;

        &.tabbed
        {
            padding-left: $gap;
            padding-right: $gap;
        }
    }
}


//
// Site container
//

.siteContainer
{
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    .mainContent
    {
        width: 100%;
        flex: 1;
    }
}

//
// Page title
//

.pageTitle
{
    margin-top: 40px;
    margin-bottom: $gapBig * 1.5;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    i
    {
        color: $c_TextMuted;
        font-size: 30px;
    }

    i + h2 { margin-left: $gap; }

    h2
    {
        font-family: Yandex;
        font-weight: 400;
        font-size: 30px;
    }

    @include layout(stretch)
    {
        margin-left: $gap;
        margin-right: $gap;
    }

    @include layout(mini)
    {
        i { font-size: 24px; }
        h2 { font-size: 24px; }
    }
}

h3.title
{
    font-size: 18px;
    margin-bottom: $gap;

    @include layout(stretch)
    {
        margin-left: $gap;
        margin-right: $gap;
    }

    @include layout(mini)
    {
        font-size: 17px;
        text-align: center;
    }
}

//
// Anchor
//

.anchor
{
    position: relative;
    top: -50px;
}