.progressContainer
{
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;

    padding-bottom: 20px;
    opacity: .6;

    cursor: help;

    .progress
    {
        height: 5px;
        background: lighten($c_Brand, 45%);

        display: flex;

        div
        {
            height: 100%;
            background: $c_Brand;

            &:nth-of-type(even) { background: transparent; }
        }
    }
}