.taskBlockContainer
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    gap: $gapSmall;

    padding: $gap;

    .taskBlock
    {
        @include flexCC;

        padding: 4px 0;

        background: $c_BgMuted;

        font-size: 90%;
        color: $c_TextMuted;
        text-decoration: none;

        border: 1px solid $c_Border;
        border-radius: $borderRadius;

        transition: color $animSpeed, border-color $animSpeed;

        &:hover
        {
            color: $c_Text;
            border-color: $c_BorderDark;
        }

        &.proto
        {
            background: mix(white, $c_Brand, 98%);
            color: mix(white, $c_BrandDark, 40%);
            border-color: mix($c_Border, $c_BrandDark, 75%);

            &:hover
            {
                color: $c_BrandDark;
                border-color: mix($c_Border, $c_BrandDark, 40%);
            }
        }
    }
}