// Основной цвет

$brand-color: #009FF4;

// Черный цвет текста

$fblack-color: #282828;

// Блеклый цвет текста

$fmuted-color: #5f5f5f;

// Цвет границы

$border-color: #c8c8c8;
$border-faint-color: lighten($border-color, 10%);
$border-strong-color: darken($border-color, 15%);