@import 'import';

footer
{
    clear: both;

    flex-shrink: 0;
    margin-top: 30px;

    height: 50px;
    background: white;

    border-top: 2px solid $border-faint-color;

    display: flex;
    align-items: center;
    justify-content: center;

    a
    {
        color: $fmuted-color;
        font-family: monospace;
        font-size: 120%;
        text-decoration: none;

        transition: color $anim-speed;

        &:hover, &:focus, &:active
        {
            color: $fblack-color;
        }
    }
}