@import "import";

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection
{
    // TODO
    //background: #78C8F4;
}

ul, ol
{
    list-style-position: inside;
}

html,
body
{
    height: 100%;
}

body
{
    background-color: #f2f2f2;
    color: $fblack-color;

    font-family: "Open Sans";

    display: flex;
    flex-direction: column;
}

a
{
    color: inherit;
}

.content
{
    width: 600px;
    margin: 0 auto;

    flex: 1;
    
    @include layout(stretch)
    {
        width: auto;
        margin: 0 25px;
    }

    @include layout(mini)
    {
        margin: 0;
    }
}