@import 'import';

.page-history
{
    .history-item-list
    {
        margin-top: 40px;

        .anchor:target + .history-item
        {
            $protoBorderColor: darken($brand-color, 10%);

            .block-section-header
            {
                border-top-color: $protoBorderColor;
                border-left-color: $protoBorderColor;
                border-right-color: $protoBorderColor;
            }

            .block-section-container
            {
                border-color: $protoBorderColor;
            }
        }

        .history-item
        {
            .date
            {
                font-family: Consolas;
                font-size: 95%;

                a { text-decoration: none; }
            }

            .diff
            {
                border-top: 1px solid $border-faint-color;
                padding: 10px 15px;

                .add.margin
                {
                    margin-bottom: 10px;
                }

                .add, .edit
                {
                    display: flex;
                    align-items: center;

                    i
                    {
                        width: 20px;
                        margin-right: 12px;

                        cursor: help;

                        font-size: 18px;
                        color: $fmuted-color;
                    }

                    div
                    { 
                        flex: 1;

                        a
                        {
                            color: $fmuted-color;
                            font-size: 92%;
                            text-decoration: none;
                            transition: color $anim-speed;

                            &:hover
                            {
                                color: $fblack-color;
                            }

                            &::after
                            {
                                color: $fblack-color;
                                content: ", ";
                            }

                            &:last-of-type::after { content: ""; }
                        }
                    }
                }
            }
        }
    }
}