@import 'import';

@media print
{
    .page-task,
    .page-proto-task
    {
        .search-container,
        .block-section.protoTasks,
        .block-section.refs,
        .nav,
        .no-dark-magic,
        .dark-magic-container,
        .help-me
        {
            display: none !important;
        }

        .block-section.solution
        {
            .reason-overlay
            {
                display: none !important;
            }

            &:not(.single) .reason
            {
                display: block !important;
            }

            .block-section-content
            {
                position: static !important;
                height: auto !important;
            }
        }
    }

    .page-toc-tasks
    {
        .no-dark-magic,
        .dark-magic-container
        {
            display: none !important;
        }

        .task .hint { display: block !important; .hint-title { display: block !important; } }
    }
}