@import 'import';

.page-protos
{
    h2.title
    {
        margin-top: 30px;

        font-size: 30px;
        font-weight: normal;
        text-align: center;
        font-family: 'Yandex';

        i
        {
            color: $fmuted-color;
            margin-right: 10px;
        }
    }

    h3
    {
        @include layout(mini)
        {
            margin: 0 15px;
        }
    }

    .proto-tasks-category
    {
        margin-top: 40px;

        .task-list
        {
            margin: 20px 0;

            .block-section-container
            {
                border-radius: 5px;

                @include layout(mini) { border-radius: 0; }
            }

            dt a
            {
                color: $fblack-color;

                &:hover
                {
                    color: $fblack-color;
                    text-decoration: underline;
                }
            }
            
            dd
            {
                font-size: 90%;
            }
        }
    }
}