@import 'import';

.page-solvers
{
    h2.title
    {
        margin-top: 30px;

        font-size: 30px;
        font-weight: normal;
        text-align: center;
        font-family: 'Yandex';

        i
        {
            color: $fmuted-color;
            margin-right: 10px;
        }
    }

    .solvers-list
    {
        margin-top: 20px;

        .solver
        {
            border: 1px solid $border-color;
            border-radius: $border-radius;

            @include layout(mini)
            {
                border-left: none;
                border-right: none;

                border-radius: 0;
            }

            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3)
            {
                border-width: 2px;
                border-color: $brand-color;
            }

            &:not(:last-of-type)
            {
                margin-bottom: 20px;
            }

            &:nth-of-type(3)
            {
                margin-bottom: 40px;
            }
        }

        .solver .solver-data
        {
            display: flex;
            align-items: center;

            padding: 15px;

            background: white;
            
            @include layout(mini)
            {
                flex-direction: column;
            }

            .avatar
            {
                text-decoration: none;

                img, i
                {
                    display: block;

                    width: 52px;
                    height: 52px;
                }

                img
                {
                    border-radius: $border-radius;
                }

                i
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    color: $fmuted-color;
                    font-size: 50px;
                }

                margin-right: 10px;
                
                @include layout(mini)
                {
                    margin-right: 0;
                    margin-bottom: 5px;
                }
            }

            .info
            {
                flex: 1;

                display: flex;
                flex-direction: column;

                @include layout(mini)
                {
                    align-items: center;
                    justify-content: center;
                }

                .name a
                {
                    text-decoration: none;
                    font-size: 105%;

                    &[href]:not([href=""]):hover
                    {
                        text-decoration: underline;
                    }
                }

                .slogan
                {
                    color: $fmuted-color;
                    font-size: 90%;
                }
            }

            .solved-amount
            {
                width: 60px;

                text-align: right;
                font-size: 25px;

                @include layout(mini)
                {
                    text-align: center;
                }

                &:hover
                {
                    cursor: help;
                }
            }
        }

        .solver .solved-list
        {
            border-top: 1px solid $border-color;

            overflow: hidden;
            overflow-x: auto;

            background: #eeeeee;

            &::-webkit-scrollbar
            {
                height: 7px;
            }

            &::-webkit-scrollbar-thumb
            {
                background: #c8c8c8;

                &:hover
                {
                    background-color: darken(#c8c8c8, 10%);
                }
            }

            .wrapper
            {
                display: flex;
                padding: 15px;

                a
                {
                    flex-shrink: 0;
                    padding: 3px;

                    width: 45px;

                    font-size: 85%;
                    color: $fmuted-color;
                    text-align: center;
                    text-decoration: none;

                    background: white;

                    border: 1px solid $border-color;
                    border-radius: $border-radius;

                    transition: color $anim-speed, border-color $anim-speed;

                    &:not(:last-of-type)
                    {
                        margin-right: 5px;
                    }

                    &:hover
                    {
                        color: $fblack-color;
                        border-color: $border-strong-color;
                    }
                }
            }
        }
    }
}