@import 'import';

.block-section
{
    position: relative;

    &:not(:first-of-type)
    {
        margin-top: 30px;
    }

    &.task, &.solution
    {
        .block-section-content
        {
            img 
            {
                max-width: 100%;
                height: auto;
            }
        }
    }

    &.task
    {
        .block-section-header
        { 
            width: 100px;

            i 
            { 
                margin-right: 3px; 
            } 
        }

        .task-nav
        {
            position: relative;

            display: flex;
            flex-direction: column;

            white-space: nowrap;
            overflow: hidden;

            color: $fmuted-color;
            font-size: 95%;
            padding: 5px 15px;
            border-bottom: 1px solid $border-color;

            .accent
            {
                font-weight: bold;
            }

            .overlay
            {
                position: absolute;

                top: 0;
                right: 0;

                height: 100%;
                width: 45px;
                
                background: linear-gradient(90deg, rgba(white, 0), rgba(white, 1) 75%);
            }
        }
    }

    &.solution
    {
        &.single,
        &._hidden
        {
            .reason
            {
                display: none;
            }
        }

        &._hidden
        {
            .block-section-container
            {
                position: relative;
            }

            .reason-overlay
            {
                display: flex;
                flex-direction: column;

                align-items: center;
                justify-content: center;

                padding: 15px;

                height: 150px;

                text-align: center;
                text-shadow: 0 0 2em white, 0 0 2em white, 0 0 2em white;

                background: rgba(255, 255, 255, 0.75);

                backdrop-filter: blur(2px);

                span + .button-show
                {
                    margin-top: 20px;
                }

                .button-show
                {
                    padding: 7px 15px;

                    color: white;
                    text-shadow: none;
                    background: $brand-color;

                    border: 2px solid $brand-color;
                    border-radius: $border-radius;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    transition: background-color $anim-speed;

                    &:hover
                    {
                        cursor: pointer;

                        background-color: darken($brand-color, 5%);
                    }

                    i
                    {
                        margin-right: 10px;
                    }
                }
            }

            .block-section-content
            {
                overflow: hidden;
                height: 150px;

                position: absolute;
                top: 0;
                right: 0;
                left: 0;
            }
        }

        .reason-overlay
        {
            display: none;
        }

        .reason
        {
            color: $fmuted-color;
            font-size: 95%;
            padding: 5px 15px;
            border-bottom: 1px solid $border-color;
        }

        .solver
        {
            overflow: hidden;
        }

        .solver a
        {
            text-decoration: none;

            border-top: 1px solid $border-color;
            padding: 10px 15px;

            display: flex;
            align-items: center;

            color: $fmuted-color;

            transition: color $anim-speed;

            @include layout(mini)
            {
                justify-content: center;
            }

            &:hover
            {
                color: $fblack-color;
            }

            .solver-avatar
            {
                display: block;

                width: 28px;
                height: 28px;

                background: white;
                border-radius: $border-radius;

                margin-right: 10px; 
            }

            .solver-icon
            {
                margin-right: 7px;
            }
        }
    }

    &.protoTasks
    {
        .block-section-header
        {
            width: 180px;
        }
    }

    &.refs,
    &.protoTasks
    {
        dt
        {
            color: $brand-color;

            a
            {
                text-decoration: none;
                transition: color $anim-speed;

                &:hover
                {
                    color: darken($brand-color, 20%);
                }
            }
        }

        dd
        {
            font-size: 95%;
            color: $fmuted-color;

            &:not(:last-of-type)
            {
                border-bottom: 1px solid $border-faint-color;

                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .block-section-actions
    {
        position: absolute;
        right: 0;

        height: 45px;

        display: flex;
        align-items: center;
        justify-content: center;

        .action
        {
            padding: 10px;
            padding-right: 0;

            display: flex;
            align-items: center;

            font-size: 90%;
            color: $fmuted-color;

            transition: color $anim-speed;

            @include layout(mini)
            {
                padding-right: 10px;
            }

            &:hover
            {
                cursor: pointer;
                color: $fblack-color;
            }

            span
            {
                @include layout(mini)
                {
                    display: none;
                }
            }

            i
            {
                margin-right: 5px;
            }
        }
    }

    &._hidden
    {
        .block-section-actions
        {
            .action--hide
            {
                display: none;
            }
        }
    }

    .block-section-header
    {
        position: relative;
        top: 2px;

        width: 140px;
        height: 45px;

        background: white;

        color: darken($brand-color, 20%);
        //font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid $border-color;
        border-radius: $border-radius;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        border-bottom-color: $border-faint-color;

        @include layout(mini)
        {
            margin: 0 auto;
        }

        i
        {
            margin-right: 7px;
        }
    }

    .block-section-container
    {
        background: white;
        border: 2px solid $border-color;
        border-radius: $border-radius;

        font-size: 97%;

        border-top-left-radius: 0;

        @include layout(mini)
        {
            font-size: 85%;

            border-left: none;
            border-right: none;
            border-radius: 0;
        }

        .block-section-content
        {
            text-align: justify;
            padding: 15px;

            @include layout(mini)
            {
                text-align: left;
            }

            & > p:not(:last-of-type),
            & > ol,
            & > ul
            {
                margin-bottom: 15px;
            }

            hr
            {
                border: none;
                width: 100%;
                height: 1px;
                background-color: $border-color;
                margin-bottom: 15px;
            }

            // Images

            img { width: 100%; height: auto; }

            @for $i from 1 through 9
            {
                .w#{$i}
                {
                    text-align: center;

                    img { width: 10% * $i; }

                    &:not(.const)
                    {
                        @include layout(mini)
                        {
                            img { width: 100%; }
                        }
                    }
                }
            }

            // \\
        }
    }
}

.page-task
{
    .nav
    {
        margin-top: 30px;

        @include layout(mini)
        {
            margin: 30px 15px 0;
        }

        .next,
        .prev
        {
            display: flex;
            align-items: center;
            justify-content: center;

            background: white;
            border: 2px solid $border-color;
            border-radius: $border-radius;

            height: 50px;

            padding: 0 15px;

            font-size: 105%;
            color: $fmuted-color;
            text-decoration: none;

            transition: color $anim-speed, border-color $anim-speed;

            &:hover
            {
                color: $fblack-color;
                border-color: $border-strong-color;
            }

            i
            {
                font-size: 25px;
            }
        }

        .next
        {
            float: right;

            i
            {
                margin-left: 10px;
            }
        }

        .prev
        {
            float: left;

            i
            {
                margin-right: 10px;
            }
        }
    }

    .help-me
    {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 30px;

        @include layout(mini)
        {
            flex-direction: column;
        }

        .message
        {
            color: $fmuted-color;
            margin-right: 20px;

            @include layout(mini)
            {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }

        .help-button
        {
            width: 125px;
            padding: 7px 15px;

            font-size: 95%;
            color: $fmuted-color;
            text-shadow: none;
            text-decoration: none;
            background: white;

            border: 2px solid $border-color;
            border-radius: $border-radius;

            display: flex;
            align-items: center;
            justify-content: center;
            
            transition: border-color $anim-speed, color $anim-speed;

            &:hover
            {
                cursor: pointer;

                border-color: $border-strong-color;
                color: $fblack-color;
            }

            i
            {
                margin-right: 10px;
            }
        }
    }
}