//
// Flex
//

@mixin flexCC
{
    display: flex;
    align-items: center;
    justify-content: center;
}

//
// Content block
//

@mixin cbBorderColor($color)
{
    .head .tab
    {
        border-top-color: $color;
        border-left-color: $color;
        border-right-color: $color;
    }

    .body { border-color: $color; }    
}