doctype html
html(lang="ru")

    head
        include /includes/head

    body(class=type)
        .bgContainer
            .bgSlider

        .siteContainer

            .progressContainer(title=`Решено ${progress.solved} из 4462 задач (${progress.percent}%)`)
                .progress
                    each fraction in progress.fractions
                        div(style=`flex: ${Math.abs(fraction)} 0;`)

            .mainContent

                include /includes/header
                include /includes/search

                block content

            footer
                .contentArea
                    .left
                        a(href="http://radkopeter.ru/", title="Главный Анти-Демидович") Петр Радько
                    .center
                        a(href="/", title="На главную") Д
                    .right
                        a(href="https://vk.com/nagibin2509", title="Наставник главного Анти-Демидовича") Николай Нагибин