<!doctype html>
<html>
    <head>
        {{> head }}

        <script src="{{{ site_root }}}scripts/show-hide.js"></script>
    </head>
    <body class="page-proto-task">
        {{> progress-bar }}

        <section class="content">
            {{> header }}
            {{> search }}

            <section class="block-section task">
                <div class="block-section-header" title="Важные факты, которые пригодятся для решения других задач">
                    <i class="fas fa-sitemap"></i>
                    <span>Прото-задача</span>
                </div>
                <div class="block-section-container">
                    <div class="task-nav">
                        {{ protoTitle }}
                    </div>
                    <div class="block-section-content">
                        {{{ task }}}
                    </div>
                </div>
            </section>

            <div class="dark-magic-container">
                <!-- [Демидович] Перед решением -->
                <ins class="adsbygoogle ads ads--before-solution"
                style="display:block"
                data-ad-client="ca-pub-8094912170389944"
                data-ad-slot="9148242804"
                data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <section class="block-section solution single">
                <!--<div class="block-section-actions">
                    <div title="Скрыть решение" class="action action--hide">
                        <i class="fas fa-eye-slash"></i><span>Скрыть</span>
                    </div>
                </div>-->

                <div class="block-section-header">
                    <i class="fas fa-check"></i>
                    <span>Решение</span>
                </div>
                
                <div class="block-section-container">
                    <div class="block-section-content">
                        {{{ solution }}}
                    </div>

                    <div class="reason-overlay">
                        <div class="button-show"><i class="fas fa-eye"></i> Смотреть</div>
                    </div>
                </div>
            </section>

            <div class="dark-magic-container">
                <!-- [Демидович] После решения -->
                <ins class="adsbygoogle ads ads--after-solution"
                style="display:block"
                data-ad-client="ca-pub-8094912170389944"
                data-ad-slot="4277939948"
                data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            {{ #hasRefs }}

            <section class="block-section refs">
                <div class="block-section-header">
                    <i class="fas fa-external-link-alt"></i>
                    <span>Ссылки</span>
                </div>
                <div class="block-section-container">
                    <dl class="block-section-content">

                        {{ #refs }}
                            <dt>
                                <a href="{{{ link }}}" title="{{ title }}" target="_blank">
                                    {{ title }}
                                </a>
                            </dt>
                            <dd>{{ desc }}</dd>
                        {{ /refs }}
                    
                    </dl>
                </div>
            </section>

            {{ /hasRefs }}
        </section>

        {{> footer }}
    </body>
</html>