//
// Open Sans
//

@font-face
{
    font-family: 'Open Sans';
    src: url('/site/fonts/open-sans/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face
{
    font-family: 'Open Sans';
    src: url('/site/fonts/open-sans/OpenSans-Italic.ttf');
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}

@font-face
{
    font-family: 'Open Sans';
    src: url('/site/fonts/open-sans/OpenSans-SemiBold.ttf');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

//
// Yandex
//

@font-face
{
    font-family: 'Yandex';
    src: url('/site/fonts/yandex.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}