section.search
    .contentArea.tabbed

        .searchBar
            input(
                inputmode="numeric",
                pattern="[0-9]*",
                placeholder="Введите номер задачи (от 1 до 4462)",
                autofocus
            )
            
            a.stateButton
                i.fas

            .result

                .resultPane.wtf
                    i.far.fa-flushed
                    .desc Введен некорректный запрос!<br>Можно вводить только числа от <b>1</b> до <b>4462</b>.<br>Буквы и другие символы не допускаются!

                .resultPane.notSolved
                    i.far.fa-tired
                    .desc Эта задача еще не добавлена!<br><a target="_blank" href="https://bydef.ru/">Предложите</a> свое решение!<br>Можете финансово <a target="_blank" href="https://boosty.to/dodem">поддержать</a t> проект.

                .resultPane.success
                    .loading
                        img.spinner(src="/site/graphics/spinner.svg")
                    
                    .task.content

                    a.goto
                        .text К РЕШЕНИЮ
                        i.fas.fa-arrow-right