extends templates/default

include /includes/mixins

block stylesLibs
    link(rel="stylesheet", href="/site/styles/protos.min.css")

block content
    .contentArea
        +pageTitle('fas fa-sitemap', 'Прото-задачи')

        each dataItem, i in data
            .contentBlock.category
                .anchor(id=dataItem.id)
                .body
                    .head
                        .title!= dataItem.title

                        -
                            let start = +dataItem.protos[0].num;
                            let end = +dataItem.protos[dataItem.protos.length - 1].num;
                            let range = (start === end ? start : start + ' - ' + end);
                        .range(title="Номера прото-задач")= range
                    
                    .protoTasks
                        each pTask in dataItem.protos
                            .protoTask
                                a.title(href=`/proto/${pTask.id}`)= pTask.num + '. ' + pTask.title