extends templates/default

include /includes/mixins

block stylesLibs
    link(rel="stylesheet", href="/site/styles/todo.min.css")

block content
    +pageTitle('fas fa-bug', 'Проблемы')

    .contentArea.todoList

        each todoItem in todoList
            .contentBlock.todoItem(class=(todoItem.isProto ? 'isProto' : null))
                .body
                    a.head(href=(todoItem.isProto ? '/proto/' : '/tasks/') + todoItem.id)
                        .id
                            i.fas(class=(todoItem.isProto ? 'fa-sitemap' : 'fa-hashtag'))
                            span= todoItem.title
                        
                        if (todoItem.solver)
                            .solver
                                +avatar(todoItem.solver.avatar, null)
                                span= todoItem.solver.name

                        .goto
                            i.fas.fa-arrow-right
                    
                    if (todoItem.desc)
                        .desc!= todoItem.desc