@import 'import';

.block-section
{
    position: relative;

    &:not(:first-of-type)
    {
        margin-top: 30px;
    }

    &.task
    {
        .block-section-header
        { 
            width: 100px;

            i 
            { 
                margin-right: 3px; 
            } 
        }

        .task-nav
        {
            position: relative;

            display: flex;
            flex-direction: column;

            white-space: nowrap;
            overflow: hidden;

            color: $fmuted-color;
            font-size: 95%;
            padding: 5px 15px;
            border-bottom: 1px solid $border-color;

            .accent
            {
                font-weight: bold;
            }

            .overlay
            {
                position: absolute;

                top: 0;
                right: 0;

                height: 100%;
                width: 45px;
                
                background: linear-gradient(90deg, rgba(white, 0), rgba(white, 1) 75%);
            }
        }
    }

    &.solution
    {
        .solver
        {
            overflow: hidden;
        }

        .solver a
        {
            text-decoration: none;

            border-top: 1px solid $border-color;
            padding: 10px 15px;

            display: flex;
            align-items: center;

            color: $fmuted-color;

            transition: color $anim-speed;

            @include layout(mini)
            {
                justify-content: center;
            }

            &:hover
            {
                color: $fblack-color;
            }

            .solver-avatar
            {
                display: block;

                width: 28px;
                height: 28px;

                background: white;
                border-radius: $border-radius;

                margin-right: 10px; 
            }

            .solver-icon
            {
                margin-right: 7px;
            }
        }
    }

    &.refs
    {
        dt
        {
            color: $brand-color;

            a
            {
                text-decoration: none;
                transition: color $anim-speed;

                &:hover
                {
                    color: darken($brand-color, 20%);
                }
            }
        }

        dd
        {
            font-size: 95%;
            color: $fmuted-color;

            &:not(:last-of-type)
            {
                border-bottom: 1px solid $border-faint-color;

                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .block-section-header
    {
        position: relative;
        top: 2px;

        width: 130px;
        height: 45px;

        background: white;

        color: darken($brand-color, 20%);
        //font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid $border-color;
        border-radius: $border-radius;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        border-bottom-color: $border-faint-color;

        @include layout(mini)
        {
            margin: 0 auto;
        }

        i
        {
            margin-right: 7px;
        }
    }

    .block-section-container
    {
        background: white;
        border: 2px solid $border-color;
        border-radius: $border-radius;

        font-size: 95%;

        border-top-left-radius: 0;

        @include layout(mini)
        {
            font-size: 85%;

            border-left: none;
            border-right: none;
            border-radius: 0;
        }

        .block-section-content
        {
            text-align: justify;
            padding: 15px;

            @include layout(mini)
            {
                text-align: left;
            }
        }
    }
}

.page-task
{
    .nav
    {
        margin-top: 30px;

        @include layout(mini)
        {
            margin: 30px 15px 0;
        }

        .next,
        .prev
        {
            display: flex;
            align-items: center;
            justify-content: center;

            background: white;
            border: 2px solid $border-color;
            border-radius: $border-radius;

            height: 50px;

            padding: 0 15px;

            font-size: 105%;
            color: $fmuted-color;
            text-decoration: none;

            transition: color $anim-speed, border-color $anim-speed;

            &:hover
            {
                color: $fblack-color;
                border-color: $border-strong-color;
            }

            i
            {
                font-size: 25px;
            }
        }

        .next
        {
            float: right;

            i
            {
                margin-left: 10px;
            }
        }

        .prev
        {
            float: left;

            i
            {
                margin-right: 10px;
            }
        }
    }
}