<!-- MathJax -->
<script>
    MathJax =
    {
        tex: {
            inlineMath: [['$', '$']],
            displayMath: [['$$', '$$']],
            tags: 'ams',
            macros: {
                ceil: ["\\left\\lceil #1 \\right\\rceil", 1],       // "Потолок" числа
                floor: ["\\left\\lfloor #1 \\right\\rfloor", 1],    // "Пол" числа
                limn: ["\\lim_{n\\to\\infty}"],                     // Краткая запись предела последовательности
                set: ["\\left\\{ #1 \\right\\}", 1]                 // Обрамление аргумента в { }
            }
        }
    };
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

<!-- jQuery -->
<script src="{{{ site_root }}}libs/jquery-3.4.1.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="{{{ site_root }}}libs/font-awesome/css/all.min.css">

<script>
    var SITE_ROOT = '{{{ site_root }}}';
</script>

<script src="{{{ site_root }}}scripts/toc.js"></script>
<script src="{{{ site_root }}}scripts/hash.js"></script>
<script src="{{{ site_root }}}scripts/location.js"></script>
<script src="{{{ site_root }}}scripts/search.js"></script>

<link rel="stylesheet" type="text/css" href="{{{ site_root }}}style.min.css" />