<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="keywords" content="демидович,демидович решебник,антидемидович,демидович задачник,демидович решения,демидович ответы,математика,решение,гдз">

<meta name="generator" content="Static Site Generator &quot;Dodem&quot;">

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://dodem.ru/graphics/og.png">

<link rel="canonical" href="https://dodem.ru/{{{ canonical_url }}}">
<meta property="og:url" content="https://dodem.ru/{{{ canonical_url }}}">