<!-- Extra -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155361802-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155361802-1');
</script>
<!-- /Global site tag (gtag.js) - Google Analytics -->

<!-- Yandex WebMaster Verification Code -->
<meta name="yandex-verification" content="7ff246512ec9d0f4" />

<!-- Google Ads -->
<script data-ad-client="ca-pub-8094912170389944" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="{{{ site_root }}}scripts/dark-magic.js"></script>