<section title="Решено x из 4462 задач (x%)" class="progress-bar-container">
    <div class="progress-bar">
        <div></div>
    </div>
</section>
<script src="{{{ site_root }}}scripts/progress-bar.js"></script>