<section class="search-container state--normal">
    <div class="search-bar">
        <input id="search-input" autocomplete="off" placeholder="Введите номер задачи (от 1 до 4462)" autofocus />
        <a class="search-bar--button goto-solution-button">
            <i class="search-icon--normal fas fa-search"></i>
            <i class="search-icon--success fas fa-arrow-right"></i>
            <i class="search-icon--error fas fa-times"></i>
            <i class="search-icon--wtf fas fa-question"></i>
        </a>
    </div>
    
    <section class="search-results">
        <div class="search-results-pane search-results-pane--success _loading">
            <div class="task-view">
                <div class="task-nav">
                    <div title="Название раздела" class="section"><span class="accent">IV</span> <span class="title">Название раздела</span></div>
                    <div title="Название параграфа" class="paragraph">└─ <span class="accent">§15</span> <span class="title">Название параграфа</span></div>
                    <div class="overlay"></div>
                </div>

                <div class="task-preview"></div>
            </div>

            <div class="task-loading">
                <img class="spinner" src="{{{ site_root }}}graphics/spinner.svg" />
            </div>

            <a class="goto-solution-button">
                <span>К РЕШЕНИЮ</span> <i class="fas fa-arrow-right"></i>
            </a>
        </div>

        <div class="search-results-pane search-results-pane--error">
            <div class="emoji"><i class="far fa-tired"></i></div>
            <div class="info">
                Эта задача еще не добавлена!<br>
                Но вы можете <a target="_blank" href="https://github.com/CMTV/dodem/wiki/%D0%9F%D1%80%D0%B5%D0%B4%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5-%D1%80%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D1%8F">добавить</a> свое решение!<br>
                Еще можно <a target="_blank" href="https://github.com/CMTV/dodem/wiki/%D0%9F%D0%BE%D1%87%D0%B5%D0%BC%D1%83-%D0%BD%D0%B5%D1%82-%D1%80%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D1%8F%3F">узнать</a t>, почему решения нет.
            </div>
        </div>

        <div class="search-results-pane search-results-pane--wtf">
            <div class="emoji"><i class="far fa-flushed"></i></div>
            <div class="info">
                Введен некорректный запрос!<br>
                Можно вводить только числа от 1 до 4462.<br>
                Буквы и другие символы не допускаются!
            </div>
        </div>
    </section>
</section>