<!doctype html>
<html>
    <head>
        {{> head }}
        
        <script async src="{{{ site_root }}}scripts/luck.js"></script>
    </head>
    <body class="page-index">
        {{> progress-bar }}

        <section class="content">
            {{> header }}
            {{> search }}

            <section class="info-bar">
                <a title="Оглавление" href="{{{ site_root }}}toc" class="info-item toc">
                    <i class="fas fa-list-ol"></i>
                    <span>Оглавление</span>
                </a>

                <a title="Полезные теоремы, свойства и задачи" href="{{ site_root }}proto" class="info-item protos">
                    <i class="fas fa-sitemap"></i>
                    <span>Прото-задачи</span>
                </a>

                <a title="Новости о решенных задачах и других важных событиях" href="{{ site_root }}history" class="info-item history">
                    <i class="fas fa-history"></i>
                    <span>Хронология</span>
                </a>

                <a title="Люди, которые решают задачи" href="{{ site_root }}solvers" class="info-item solvers">
                    <i class="fas fa-users"></i>
                    <span>Решатели</span>
                </a>

                <!--a title="Форум" href="https://mathit.ru" class="info-item forum">
                    <i class="fas fa-comments"></i>
                    <span>Форум</span>
                </a>-->

                <a title="Телепортироваться к случайному решению!" class="info-item luck">
                    <i class="fas fa-dice"></i>
                    <span>Мне повезет!</span>
                </a>

                <a title="Поддержать!" href="https://boosty.to/dodem" class="info-item donate">
                    <i class="fas fa-hand-holding-usd"></i>
                    <span>Поддержать!</span>
                </a>
            </section>
        </section>

        {{> footer }}
    </body>
</html>